@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html,
:root {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-36 px-8 sm:py-24 py-12;
  }
  .padding-x {
    @apply sm:px-36 px-8;
  }
  .padding-y {
    @apply sm:py-24 py-12;
  }
  .padding-l {
    @apply sm:pl-36 pl-8;
  }
  .padding-r {
    @apply sm:pr-36 pr-8;
  }
  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

.pagination-btn{
  @apply rounded-full hover:bg-gray-300 h-9 w-9 flex justify-center items-center cursor-pointer text-gray-500 disabled:text-gray-300 disabled:hover:bg-transparent 
}

}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes moveLeftRight {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(50deg);
  }
  75% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.animate-spin {
  animation: spin 14s linear infinite;
}
.animate_left_right {
  animation: moveLeftRight 10s infinite linear;
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="number"],
textarea {
  @apply block w-full mb-2 rounded-md h-11 outline-none;
  @apply border w-full p-2 bg-transparent;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus {
  @apply border p-2 border-primary;
}
